<div class="row">
  <div class="row">
    <div class="twocol">Name:</div> <div class="tencol last"><%= comment.name %></div>
  </div>
  <div class="row">
    <div class="twocol">Country:</div> <div class="tencol last"><%= comment.country %></div>
  </div>
  <div class="row">
    <div class="twocol">Comment:</div> <div class="tencol last"><%= comment.content %></div>
  </div>
</div>
<hr />