<% if params[:controller] == 'albums' %>
<div class="twelvecol last">
<% else %>
<div class="ninecol last">
<% end %>

  <div class="twelvecol last" id="footer-menu">
    <div class="threecol" style="margin-left:3.8%; text-align:right;">
      <%= link_to 'more fppis', more_fppis_path %>
    </div>
    <div class="threecol" style="margin:0;">
      <%= link_to 'terms & conditions', terms_path %>
    </div>
    <div class="threecol" style="margin:0;">
      <%= link_to 'privacy policy', policy_path %>
    </div>
    <div class="threecol last" style="text-align:left;">
      <%= link_to 'sitemap', sitemap_path %>
    </div>
  </div>

  <div class="twelvecol last" id="copyright">
    copyright 2012 fppis.com
  </div>
</div>