<% # TODO: right menu alignment & center the copyright to the 4 titles & same gaps between titles %>
<% if params[:controller] == 'albums' %>
<div class="twelvecol last" style="width:832px; text-align:right;">
<% else %>
<div class="ninecol last" style="width: 650px;">
<% end %>

  <div class="twelvecol last" id="footer-menu">
    <%= link_to 'more fppis', more_fppis_path, class: 'footer-item' %>
    <%= link_to 'terms & conditions', terms_path, class: 'footer-item' %>
    <%= link_to 'privacy policy', policy_path, class: 'footer-item' %>
    <%= link_to 'sitemap', sitemap_path %>
  </div>

  <div class="twelvecol last" id="copyright">
    copyright 2012 fppis.com
  </div>
</div>