<div class="ninecol last">
  <div class="twelvecol last">
    <div class="threecol">
      more fppis
    </div>
    <div class="threecol">
      terms &amp; conditions
    </div>
    <div class="threecol">
      privacy policy
    </div>
    <div class="threecol last">
      sitemap
    </div>
  </div>

  <div class="twelvecol last">
    copyright 2012 fppis.com
  </div>
</div>