<div class="row" id="logo">
  <div class="twelvecol">
    <%# LATER: Ask from Corey the optimized logo with the dimensions 351x90 %>
    <a href="/"><img src="/assets/logo.png" width="350" height="90" /></a>
  </div>
</div>