<div class="row" id="logo">
  <div class="twelvecol">

    <div class="threecol header">
      <%= link_to 'fppis.com', root_path %>
    </div>

    <div class="ninecol last subheader">
      Food People Places Images Stories
    </div>

  </div>
</div>