<%# LATER: Make these rotate (javascript plugin) %>
<div class="ninecol" id="content-left-main">
  <%= image_tag @main %>
</div>

<div class="threecol last" id="content-right">
  <div class="row">
    <div class="twelvecol">
      <%= image_tag @first %>
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <%= image_tag @second %>
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <%= image_tag @third %>
    </div>
  </div>
</div>