<%# FIXME: Complete the Quicksand font package in CSS %>
<div class="ninecol" id="left">
  <div class="slideshow" id="home-slide">
    <%= render partial: 'main_slide', collection: @main_posts %>
  </div>
</div>

<div class="threecol last" id="right">
<div style="margin-left: 25px;">
  <div class="thumb-slideshow" style="margin-bottom:5px; height: 143px;">
    <%= render partial: 'thumb_slide', collection: @first_posts, locals: { thumbs: @first_thumbs} %>
  </div>
  <div class="thumb-slideshow" style="margin-bottom:5px; height: 143px;">
    <%= render partial: 'thumb_slide', collection: @second_posts, locals: { thumbs: @second_thumbs} %>
  </div>
  <div class="thumb-slideshow" style="margin-bottom:5px; height: 143px;">
    <%= render partial: 'thumb_slide', collection: @third_posts, locals: { thumbs: @third_thumbs} %>
  </div>
</div>
</div>