<%# LATER: Make these rotate (javascript plugin) %>
<div class="ninecol" id="left">
  <%= main_img @main_images %>
</div>

<div class="threecol last" id="right">
<div style="margin-left: 25px; line-height: 0">
  <%= thumb_img @first_thumbs %>
  <%= thumb_img @second_thumbs %>
  <%= thumb_img @third_thumbs %>
</div>
</div>