<div class="album-details">
  <div class="twelvecol last">
    <div class="title"><%= @album.category.title %></div>
    <%= @album.country %>
    <%= " : " + @album.city %>
  </div>

  <div class="twelvecol last">
    <div class="title">Gallery</div>
    <%= @album.title %>
  </div>
</div>