<div class="twelvecol last" id="image-content">
  <hr />

  <%= render 'album_details' %>

  <%= image_tag @images.first.file.url %><br />
  <div class="row" style="text-align: center;">
    <%= @images.first.caption %>
  </div>

  <br />

  <% @images.each do |image| %>
  <%= image_tag image.file.url(:thumb) %>
  <% end %>

  <hr class="nobottom" />
</div>