<div class="twelvecol last" id="image-content">
  <hr />

  <%= render 'album_details' %>

  <div id="gallery" class="ad-gallery">
    <div class="ad-image-wrapper">
    </div>

    <div class="ad-nav">
      <div class="ad-thumbs">
        <ul class="ad-thumb-list">
          <% @images.each do |image| %>
          <li>
            <%= link_to image.file.url do %>
              <%= image_tag image.file.url(:thumb), alt: image.caption %>
            <% end %>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <hr class="nobottom" />
</div>