<div class="twelvecol last">
  <hr />

  <%= render 'album_details' %>

  <%= image_tag @images.first.file.url %><br />
  <%= @images.first.caption %>

  <br />

  <% @images.each do |image| %>
  <%= image_tag image.file.url(:thumb) %>
  <% end %>

  <hr class="nobottom" />
</div>