<div id="post-menu">
  <h3>Categories</h3>
  <ul>
  <% Category.all.each do |category| %>
    <li>
      <%= link_to category.title, posts_path(:c => category.id) %>
    </li>
  <% end %>
  </ul>

  <br />
  <%# LATER: Implement Month menu %>
  <h3>Archive</h3>
  <a href="#">June</a><br />
  <a href="#">May</a><br />
  <a href="#">April</a><br />
  <a href="#">March</a><br />
  <a href="#">February</a><br />
  <a href="#">January

</div>