Categories
<% Category.all.each do |category| %>
<h2>
  <%= link_to category.title, posts_path(:c => category.id) %>
</h2>
<% end %>

<br />

View By Month<br />
<a href="#">
January<br />
February<br />
March<br />
April<br />
May<br />
June<br />
July
</a>