<%# TODO: Finish image rotation & administration %>
<%# TODO: Implement rotation delay functionality %>

<div class="ninecol" id="left">
  <%= render 'ruler' %>
  <%= render @posts %>
  <%= render 'pagination' %>
</div>

<div class="threecol last" id="right">
  <%= render 'posts_menu' %>
</div>
