<%# FIXME: JUST FIX ME PLEASE %>
<div class="ninecol" id="left">
  <%= render @posts %>
  <%= render 'pagination' %>

</div>

<div class="threecol last" id="right">
  <%= render 'posts_menu' %>
</div>
