<div class="gallery-details">
  <div class="twelvecol last">
    <div class="title"><%= @gallery.category.title %></div>
    <%= @gallery.country %>
    <%= " : " + @gallery.city %>
  </div>

  <div class="twelvecol last">
    <div class="title">Gallery</div>
    <%= @gallery.title %>
  </div>
</div>