<div class="ninecol" id="left">
  <% @galleries.each do |gallery| %>
  <h3><%= gallery.title %></h3>
  <ul>
    <% gallery.images.each do |image| %>
    <li><%= image_tag image.file.url %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="threecol last" id="right">
  gallery menu
</div>