$red: #F93E45;
$green: #175D38;

a { text-decoration: none; }

#menu { margin-top: 320px; }

div#image-content {
  width: 832px;

  .fourcol {
    width: 31.4%;
    margin-right: 3%;
    text-align: center;
  }

  .last { margin-right: 0;}
}

#albums-menu, #archive-menu {
  margin-top: 50px;
  font-size: 27px;

  ul { line-height: 24px; }

  h4 {
    font-size: 20px;
    text-transform:none;
    color: $green;
  }
}

#archive-menu {
  li {
    font-size: 20px;
    text-transform: none;
  }
}

#back-button {
  margin-top: 50px;
  text-transform: none;
  width: 70%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

  a { color: $green; }
}

.album-details {
  font-size: 21px;
  height: 75px;

  .title {
    float:left;
    width: 95px;
    color: $red;
    font-size: 26px;
  }
}


#cat-titles {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1;

  .title {
  font-size: 38px;
  }

  .title a {
    color: $red;
  }
}


hr { margin: 20px 0; }
hr.nobottom { margin-bottom: 0; }

.tn { margin-bottom: 25px;}



