$hr-margintop: 10px;
$hr-marginbottom: 16px;
$red: #F93E45;

div#menu { margin-top: 327px + $hr-margintop + $hr-marginbottom; }

div#post-menu {
  margin: 213px 122px 0 0;
  text-align: right;
  font-size: 17px;
  line-height: 24px;
  li { list-style-type: none; }
  a { text-decoration: none; }
  h3 { color: $red; font-size: 19px; }
}

div#footer { margin-top: -10px; }

hr {
  border: none;
  border-top: 1px solid $red;
  margin-top: $hr-margintop;
  margin-bottom: $hr-marginbottom;
  height: 0;
}

#pagination { margin-top: 10px;}
nav.pagination {margin-top:-20px; background:white;}