$red: #F93E45;

body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color: black;
  line-height: 2em;
  letter-spacing: -1px;
}

a { color: black; }
a:hover { color: $red; }

@font-face {
  font-family: 'Quicksand';
    src: url('font/Quicksand_book.eot');
    src: url('font/Quicksand_book.eot?iefix') format('eot'),
         url('font/Quicksand_Book.otf') format('opentype'),
         url('font/Quicksand_book.ttf') format('truetype'),
         url('font/Quicksand_book.svg') format('svg'),
         url('font/Quicksand_book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'QuicksandBookObliqueRegular';
    src: url('font/quicksand_book_oblique-webfont.eot');
    src: url('font/quicksand_book_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quicksand_book_oblique-webfont.woff') format('woff'),
         url('font/quicksand_book_oblique-webfont.ttf') format('truetype'),
         url('font/Quicksand_book_oblique-webfont.otf') format('opentype'),
         url('font/quicksand_book_oblique-webfont.svg#QuicksandBookObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container { margin-top: 30px; }

#logo {
  margin-bottom: 15px;
  .header { font-size: 60px; }
  .subheader { font-size: 16px; position:relative; top: 0.5em; }
}

#menu {
  width: 245px;
  margin-right: 0;
  margin-top: 270px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  li { list-style-type: none; }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover { color: $red; }
  a.red { color: $red; }
}

#main { width: 895px; }

#post-menu {
  margin: 100px 122px 0 0;
  text-align: right;
  font-size: 15px;
  line-height: 24px;
  li { list-style-type: none; }
  a { text-decoration: none; }
  h3 { color: $red; font-size: 16px; }
}

#left {
  width: 650px;
  margin-right: 0;
}

#right {
  width: 245px;
  margin: 0;
}


#footer {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  a { text-decoration: none; }
}

.red { color: $red; }

h1 {
  font-size: 30px;
  color: $red;
}

#titles {
  margin-top: 415px;
  font-size: 25px;
}

#content .row { min-width: 650px; }

.floatright {float:right;}
.floatleft {float:left;}

hr {
  border: none;
  border-top: 1px solid $red;
  height: 0;
}

#copyright {margin-top: 10px;}
img { max-width: none;}

.oblique { font-family: 'QuicksandBookObliqueRegular'; }
.nomargin { margin: 0;}
.nomargintop {margin-top:0;}