$grey: #000;
$red: #F93E45;

@mixin er {
  float: right;
  margin-top: 30px;
}

body {
  font-family: SkarpaLt, Helvetica, Arial, sans-serif;
  color: $grey;
  line-height: 2em;
  letter-spacing: -1px;
}

a { color: $grey; }
a:hover { color: $red; }

.container { margin-top: 30px; }

div#logo {
  margin-bottom: 15px;
  .header { font-size: 60px; }
  .subheader { font-size: 16px; position:relative; top: 0.5em;}
}

div#menu {
  width: 245px;
  margin-right: 0;
  margin-top: 270px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  li { list-style-type: none; }
  a {
    color: $grey;
    text-decoration: none;
  }
  a:hover { color: $red; }
}

div#main { width: 895px; }

div#post-menu {
  margin: 100px 122px 0 0;
  text-align: right;
  font-size: 15px;
  line-height: 24px;
  li { list-style-type: none; }
  a { text-decoration: none; }
  h3 { color: $red; font-size: 16px; }
}

div#left {
  width: 650px;
  margin-right: 0;
}

div#right {
  width: 245px;
  margin: 0;
}


div#footer {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
}

@font-face {
  font-family: SkarpaLt;
    src: url('font/SkarpaLt.eot');
    src: url('font/SkarpaLt.eot?iefix') format('eot'),
         url('font/Quicksand_Book.otf') format('opentype'),
         url('font/SkarpaLt.ttf') format('truetype'),
         url('font/SkarpaLt.svg') format('svg'),
         url('font/SkarpaLt.woff') format('woff');
}

span.red { color: $red; }

h1 {
  font-size: 30px;
  color: $red;
}

#titles {
  margin-top: 415px;
  font-size: 25px;
}

div#home-slide {
  height: 490px;

  .slide-title {
    margin-top:-11px;
    font-size:16px
  }

  .slide-subtitle {
    margin-left: 5px;
  }
}

#content .row { min-width: 650px; }

.floatright {float:right;}
.floatleft {float:left;}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

/*@media handheld, only screen and (max-width: 767px) {

  div#content {
    #content-left {
      margin-right: 0;
    }
  }

  div#menu { text-align: center; }
}
*/

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}